block variable
include ../head.pug
body(data-barba="wrapper" data-section="0")
    div.l-wrap(data-barba = "container" data-barba-namespace="common")
        |<?php if ( !is_single() && !is_404() ) : ?>
        |<?php if ( is_front_page() ) : ?>
        |<?php include get_template_directory() . '/parts/kv.php'; ?>
        |<?php endif; ?>
        |<?php get_header(); ?>
        |<?php endif; ?>
        div.l-container
            block contents
        |<?php if ( !is_single() && !is_404() ) : ?>
        |<?php get_footer(); ?>
        |<?php endif; ?>
    |<?php wp_footer(); ?>
</html>
