@use "../../_foundation" as f

.p-works-credit
    @include f.font-styling(1.2rem, calc(16/12), 0.02em, 400)
    @include f.font-jp
    opacity: 0.6
    width: 100%
    margin: 0 auto

    span.is-en
        @include f.font
        font-weight: 600


    &__item
        display: flex
        justify-content: center
        align-items: flex-top
        width: 100%

    &__role
        text-align: right
        flex: 1

    &__name
        text-align: left
        flex: 1

    &__separator
        width: 1.0rem
        background-color: transparent
        flex-shrink: 0