extends ./_mod/_base.pug

//-----------------------------------------------------------
//- Page Settings
//-----------------------------------------------------------
block variable


block contents


    //----
    //- DESCRIPTION
    //----
    section.c-half-layout.p-description.js-fit-content

        .c-half-layout__item.js-fit-content__container
            h3.p-description__title.js-fit-content__item
                |<?php
                |$title = get_field('description_title');
                |if($title){
                | echo $title;
                |};
                |?>

            |<?php
            |$text = get_field('description_text', false, false);
            |if($text):
            |   $text = give_link_class($text);
            |?>
            p.p-description__text.p-main-text.js-fit-content__item <?= $text; ?>
            |<?php endif; ?>

        |<?php $img_array = get_image_array('description_image'); ?>
        .c-half-layout__item.p-description__img.js-fit-content__img(data-width!="<?= $img_array['width']; ?>" data-height!="<?= $img_array['height']; ?>")
            .c-half-layout__img
                include ./_mixin/_get-large-image.pug


    //----
    //- SYMPOSIUM
    //----
    article.p-event-block.js-fit-content.js-fit-content--only-pc

        .p-event-block__wrapper.js-fit-content__container

            h4.p-event-block__block-title.js-fit-content__item SYMPOSIUM

            |<?php
            |$title = get_field('symposium_title');
            |if($title):
            |?>
            h2.p-event-block__event-title.js-fit-content__item <?= $title; ?>
            |<?php endif; ?>

            |<?php
            |$img_array = get_image_array('symposium_image');
            |if($img_array != []):
            |?>
            .p-event-block__media.js-fit-content__item
                .p-event-block__media-inner
                    include ./_mixin/_get-large-image.pug
            |<?php endif; ?>

            |<?php
            |$text = get_field('symposium_text');
            |if($text):
            |?>
            p.p-event-block__description.p-main-text.js-fit-content__item <?= $text; ?>
            |<?php endif; ?>

            |<?php
            |$link = get_field('peatix_link');
            |$text = get_field('peatix_link_text');
            |if($link && $text):
            |?>
            a.p-event-block__link.js-hover(href!="<?= $link; ?>" target="_blank" rel="noopener noreferrer")
                span <?= $text; ?>
            |<?php endif; ?>