extends ./_mod/_base.pug

//-----------------------------------------------------------
//- Page Settings
//-----------------------------------------------------------
block variable


block contents

    div(data-section="1")

        |<?php include get_template_directory() . '/parts/sort-button.php'; ?>

        |<?php include get_template_directory() . '/parts/works-list.php'; ?>

        |<?php include get_template_directory() . '/parts/dancing-man.php'; ?>