//- thumbnail: 1000px / medium: 2000px / large: 2400px
|<?php if($img_array != []): ?>
picture
    img.js-lazy(
        src!="<?php bloginfo('template_directory'); ?>/assets/img/system/placeholder.webp"
        data-src!="<?= $img_array['thumbnail']; ?>"
        data-srcset!="<?= $img_array['thumbnail'] . ' 1x, ' . $img_array['medium'] . ' 2x, ' . $img_array['large'] . ' 3x'; ?>"
        alt!="<?= $img_array['alt']; ?>")
|<?php endif; ?>